source venv/bin/activate
export FLASK_APP="run.py"
export JWT_SECRET_KEY="\xe05\x1d\xda\xf4Q\x02\x8f\x8d7\xe1Dc]\x89s\xf6w\xd7;\xf6'q\xce"
export SECRET_KEY="\x9a\x17\x9e\xba\xdf\x85\x9a\xaf\xaf\xb4\xd4\x17\xab\xd4k\xafmc\x1aP\x1f\xb2]e"
export APP_SETTINGS="development"
export DATABASE_NAME=politico
export DATABASE_TEST_NAME=politico_test
export DATABASE_USERNAME=postgres_nevo
export DATABASE_PASSWORD=speeds01
export DATABASE_HOST=localhost
export DATABASE_PORT=5432


  